<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fuente.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png')}}">

    <title>Departamentos y casas en Reñaca - Aloja Fácil</title>
    <meta name="description" content="Departamentos y casas en Reñaca para arriendo en la V Región - Aloja Fácil">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-lg-top" style="height: 100px;">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logo.jpeg')}}" alt="" width="70" height="70">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-3 mb-2 mb-lg-0 fs-5">
                    <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/"> Inicio </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ubicaciones
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark bg-primary">
                            <li><a class="dropdown-item" href="/vina">Viña del Mar</a></li>
                            <li><a class="dropdown-item " href="/concon">Concón</a></li>
                            <li><a class="dropdown-item" href="/renaca">Reñaca</a></li>
                            <li><a class="dropdown-item" href="/papudo">Papudo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rentabiliza">¿Eres propietario?</a>
                    </li>
                </ul>
    
                <ul class="navbar-nav ms-auto me-1 mb-2 mb-lg-0 fs-5 ps-3"> 
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/contacto"> Contáctanos </a>
                    </li>
                    <li>
                        <a class="nav-link" aria-current="page" href="https://www.airbnb.cl/users/show/116558655"> AirBnB </a>
                    </li>
                </ul>
            </div>
    
        </div>
    </nav>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{ url_for('static', filename='loc/renaca_long.jpg')}}" alt="First slide">
      </div>
    </div>
  </div>

  <h1 class="text-center texto-h1 mt-4 mb-5">Departamentos en Reñaca</h1>

<!-- Hermosa vista frente al océano - Playa Cochoa -->

 <div class="row pt-3 pb-3">
    <div class="col-6">
        <div class="ms-5 ms-2">
            <h2> Hermosa vista frente al océano - Playa Cochoa
            </h2>
            <p class="texto-jus"> Departamento amplio con vista al Mar y a los atardeceres en el Océano Pacífico, terraza, piscina climatizada y piscina exterior tipo resort. Acceso directo a playa Cochoa a través de funicular privado. 3 dormitorios y 2 baños, WI-FI, cocina equipada y estacionamiento privado. Complejo ideal para familias, adultos y niños, equipado con 2 piscinas, gimnasio, zonas de lounge y relajo. Cerca de restaurantes, supermercados, pubs y comercio. 
            </p>
        </div>
    </div>
    
    <div class="col-6">
        <div id="pcarouselExampleIndicators2" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true"></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="2" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="3" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="4" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="5" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="6" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="7" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="8" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide-to="9" ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-04.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-00.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-01.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-02.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-03.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-05.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-06.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-07.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-08.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-2-optimized/reñaca-09.png')}}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#pcarouselExampleIndicators2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <div class="row d-flex align-items-center m-1">
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/cama.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> 3 camas </p> 
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/bano.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> 2 baños </p>  
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/wifi.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Wifi </p> 
            </div>
        </div>
        <div class="row d-flex align-items-center m-1">
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/estacionamiento.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Estacionamiento </p> 
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/lavanderia.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Lavandería </p>  
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/vista_al_mar.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Vista al mar </p> 
            </div>
        </div>
        
        <div class="d-flex justify-content-center m-1">
            <a href="https://www.airbnb.cl/rooms/613837371610662200?source_impression_id=p3_1667673139_AzXkoYmokMwpETub" type="button" class="btn btn-outline-primary btn-lg fs-4"> Arrendar!</a>
        </div>
    </div>
</div>

<!-- Departamento en 1era línea con vista al Océano Pacífico -->
<div class="row pt-3 pb-3 bg-gris-claro">
    <div class="col-6">
        <div class="ms-5 ms-2">
            <h2> Reñaca ~ Hermosa Vista al Mar! ❤ Euromarina </h2>
            <p class="texto-jus"> Departamento en primera línea con una vista panorámica del Océano Pacífico para disfrutar de los mejores atardeceres.
                A 10 minutos caminando del Sector 5 de Reñaca y acceso directo a la Playa Cochoa a través de funiculares privados.
                Completamente equipado para poder disfrutar de una estadía tranquila y con todas las comodidades.
                El complejo cuenta con piscina climatizada, piscina temperada, gimnasio, cafetería y estacionamiento privado.</p>
        </div>
    </div>
    
    <div class="col-6">
        <div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" ></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="3" ></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="4" ></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="5" ></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="6" ></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="7" ></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="8" ></button>
                <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="9" ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-06.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-27.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-20.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-13.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-33.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-25.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-26.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-05.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-07.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-3-optimized/reñaca-04.png')}}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="row d-flex align-items-center m-1">
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/cama.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> 3 camas </p> 
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/bano.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> 2 baño </p>  
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/piscina.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> piscina </p> 
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/wifi.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Wifi </p> 
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/estacionamiento.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Estacionamiento </p> 
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/vista_al_mar.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Vista al mar </p> 
            </div>
        </div>
        
        <div class="d-flex justify-content-center m-1">
            <a href="https://www.airbnb.cl/rooms/37856341?source_impression_id=p3_1667673275_aeRXWpK7lUus07D%2F" type="button" class="btn btn-outline-primary btn-lg fs-4"> Arrendar!</a>
        </div>
    </div>
</div>

<!-- Reñaca, Viña del Mar Depto Primera Vista al Mar! -->

<div class="row pt-3 pb-3">
    <div class="col-6">
        <div class="ms-5 ms-2">
            <h2> Departamento primera vista al Mar</h2>
            <p class="texto-jus">Departamento primera vista al Mar, terraza espectacular con vista atardeceres en Océano Pacífico, piscina climatizada y piscina exterior tipo resort, a pocos pasos de sector 5 playa Reñaca. Acceso directo a playa Cochoa a través de funicular privado. 2 dormitorios y 2 baños, WI-FI, cocina equipada y estacionamiento privado. Complejo ideal para familias, adultos y niños, equipado con 2 piscinas, gimnasio, zonas de lounge y relajo. Cerca de restaurantes, supermercados, pubs y comercio.
                Departamento con hermosa primera vista al mar, sillas Acalpulco en la terraza para ver atardeceres. 2 piezas, 2 baños, 1 cama matrimonial y 2 camas individuales, cocina full equipada. Wifi y TV cable, living y comedor.
            </p>
        </div>
    </div>
    
    <div class="col-6">
        <div id="pcarouselExampleIndicators4" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="0" class="active" aria-current="true"></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="2" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="3" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="4" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="5" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="6" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="7" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="8" ></button>
                <button type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide-to="9" ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-27.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-19.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-22.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-24.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-36.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-35.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-21.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-25.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-20.png')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reñaca-4-optimized/reñaca-37.png')}}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#pcarouselExampleIndicators4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <div class="row d-flex align-items-center m-1">
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/cama.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> 3 camas </p> 
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/bano.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> 2 baños </p>  
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/wifi.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Wifi </p> 
            </div>
        </div>
        <div class="row d-flex align-items-center m-1">
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/estacionamiento.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Estacionamiento </p> 
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/lavanderia.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Lavandería </p>  
            </div>
            <div class="col-1">
                <img class="image-fluid" src="{{ url_for('static', filename='ico/depto/vista_al_mar.png')}}" style="width: 30px;">
            </div>
            <div class="col-3"> 
                <p class="fs-6 m-2"> Vista al mar </p> 
            </div>
        </div>
        
        <div class="d-flex justify-content-center m-1">
            <a href="https://www.airbnb.cl/rooms/13579410?source_impression_id=p3_1667673485_Sj0OPhdWMx%2FRzSjh" type="button" class="btn btn-outline-primary btn-lg fs-4"> Arrendar!</a>
        </div>
    </div>
</div>


<footer class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between md-bottom mt-3 ps-5 pe-5 pt-3 pb-3" style="height: 160px;">
    <div class="d-flex align-items-center">
            <img src="{{ url_for('static', filename='img/logo.jpeg')}}" width="100" height="100" alt="Aloja Fácil">
            <a class="navbar-brand ms-2" style=" color: #c0c0c0;"><h2>Aloja Fácil</h2></a>
    </div>
    <div class="row">
        <div class="col-5">
            <h2 class="d-flex justify-content-center" style="color: #c0c0c0;">Ubicaciones</h2>
            <div class="d-flex justify-content-center">
                <a class="text-decoration-none" style="color: #c0c0c0;" href="/vina">Viña del Mar</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="text-decoration-none" style="color: #c0c0c0;" href="/renaca">Reñaca</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="text-decoration-none" style="color: #c0c0c0;" href="/concon">Concón</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="text-decoration-none" style="color: #c0c0c0;" href="/papudo">Papudo</a>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <h2 style="color: #c0c0c0;">Contacto</h2>
            <div>
                <img src="{{ url_for('static', filename='ico/whatsapp.png')}}" width="15" height="15" alt="Whatsapp">
                <a class="text-decoration-none" style="color: #c0c0c0;" href="https://wa.me/56971416025">+56971416025</a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='ico/instagram.png')}}" width="15" height="15" alt="Instagram">
                <a class="text-decoration-none" style="color: #c0c0c0;" href="https://www.instagram.com/alojafacil/">@alojafacil</a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='ico/facebook.png')}}" width="15" height="15" alt="Facebook">
                <a class="text-decoration-none" style="color: #c0c0c0;" href="">Aloja Fácil</a>
            </div>
        </div>
    
    </div>
    
</footer>

<script type="text/javascript" src="index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.2/dist/index.bundle.min.js"></script>


</body>
</html>